@import url('./fonts/fontimport.css');

:root {
    --l0-bg-color: #000000;
    --l1-bg-color: #0a0a0a;
    --l2-bg-color: #090909;
    --l3-bg-color: #0d0d0d;
    --l4-bg-color: #101010;
    --l5-bg-color: #171717;
    --l6-bg-color: #181818;
    --main-text-color: #ffffff;
}

body {
    padding: 0;
    margin: 0;
    /* background-color: black; */
    color: white;

    height: 100vh;
    width: 100vw;

    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    background: linear-gradient(-45deg, var(--l0-bg-color), var(--l5-bg-color), var(--l0-bg-color), var(--l5-bg-color));
    background-size: 300% 300%;
    animation: moveGradient 5s linear infinite;
    height: 100vh;
}

h1 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(36pt, 5vw, 120pt);
    margin: 0;
    height: fit-content;
}

#desc {
    font-family: "Red Hat Display", serif;
    display: flex;
    font-size: clamp(8pt, 1vw, 24pt);
    margin: 0;
}

#desc>* {
    margin: 0 0.25vw;
}

#container {
    margin-bottom: 7vh;
    display: grid;
    justify-items: center;
    text-align: center;
}

a:visited {
    color: rgb(171, 171, 171);
}

a:link {
    color: #fff;
}


@keyframes moveGradient {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}



@media only screen and (max-width: 400px) {

    h1 {
        font-size: clamp(6pt, 10vw, 96pt);
    }
}