#back {
	position: absolute;
	bottom: 7vw;
	font-size: clamp(18pt, 1vw, 48pt);
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#back:hover {
	text-decoration: underline;
}

@media screen and (max-height: 930px) {
	#back {
		bottom: 1vw;
	}
}