@import url("./menu/elements/animated-bg.css");
@import url("./menu/elements/back.css");

* {
	-webkit-user-select: text;
	-moz-user-select: text;    
	-ms-user-select: text;      
	user-select: text;
}

#pfp {
width: clamp(59px, 5vw, 100px);		
	border-radius: 50%;
}

#subject {
	display: flex;
	align-items: center;
}

#nullifydev {
	margin-left: 1vw;

	display: flex;
	align-items: center;
}
#nullify,
#dev{
	font-weight: 800;
	font-size: clamp(22pt, 3vw, 60pt);
}

#dev {
	color: var(--faded-text-color);
}

#msg,
#msg > * {
	white-space: pre-wrap;
	font-size: clamp(12pt, 1.5vw, 16pt);
}

#base {
	margin: 0 5vw;
	margin-bottom: 3vw;
	margin-left: 11vw;
}

#back {
	bottom: 6vw;
}