@import url("./menu/elements/animated-bg.css");
@import url("./menu/elements/back.css");

* {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

#pfp {
	width: clamp(59px, 5vw, 100px);
	border-radius: 50%;
}

#subject {
	display: flex;
	align-items: center;
}

#nullifydev {
	margin-left: 1vw;

	display: flex;
	align-items: center;
}

#nullify,
#dev {
	font-weight: 800;
	font-size: clamp(22pt, 3vw, 60pt);
}

#dev {
	color: var(--faded-text-color);
}

#msg {
	white-space: pre-wrap;
	font-size: clamp(10pt, 1vw, 12pt);
	text-align: justify;
	text-justify: inter-word;

	min-width: 260px;
	margin-left: 2vw;
	margin-bottom: 3vw;
}

#msg>* {
	margin-left: 0;
	margin-bottom: 0;
}

#base {
	margin: 0 5vw;
	margin-left: 10vw;
}

#back {
	bottom: 6vw;
}

#theme {
	position: absolute;
	margin: 0;
	bottom: clamp(140px, 12vw, 200px);
}

@media screen and (max-width: 720px) {
	b {
		text-align: center;
	}
}

@media screen and (max-width: 450px) {
	#base {
		margin: 0 5vw;
	}

	#msg {
		font-size: clamp(10pt, 1vh, 16pt);
	}
	br {
		display: none;
	}
}

@media screen and (max-width: 1160px) {
	#theme {
		bottom: clamp(100px, 12vw, 160px);
	}
}