:root {
    --l0-bg-color: #000000;
    --l1-bg-color: #232323;

    --main-text-color: #ffffff;
	--faded-text-color: #373737;
}

* {
    font-family: "Red Hat Display", serif;
    color: var(--main-text-color);

    -webkit-user-select: none;  
	-moz-user-select: none;
	user-select: none;
    user-select: none;
    -webkit-user-select: none;

    cursor: default;

	overflow-x: hidden;
	overflow-y: hidden;

    font-family: "Red Hat Display", serif;
}