:root {
    --l0-bg-color: #000000;
    --l1-bg-color: #232323;

    --main-text-color: #ffffff;
	--faded-text-color: #373737;
}

* {
    font-family: "Red Hat Display", serif;
    color: var(--main-text-color);

    -webkit-user-select: none;  
	-moz-user-select: none;
	user-select: none;
    user-select: none;
    -webkit-user-select: none;

    cursor: default;

	overflow-x: hidden;
	overflow-y: hidden;

    font-family: "Red Hat Display", serif;
}

#theme {
    position: absolute;
    width: clamp(25px, 2vw, 100px);
    height: clamp(25px, 2vw, 100px);
    bottom: clamp(100px, 15vw, 200px);
    /* margin-top: clamp(100px, 4vw, 500px); */
}

#theme:hover {
    cursor: pointer;
}

@media screen and (max-height: 560px) {
	#theme {
		bottom: clamp(50px, 10vw, 1000px);
	}
}

@media screen and (max-width: 560px) {
    #theme {
		bottom: clamp(50px, 10vh, 1000px);
	}
}