@import url("./elements/animated-bg.css");
@import url("./elements/back.css");

#plan {
	width: 60vw;
	margin-bottom: 2vw;
}

#back {
	bottom: 4vw;
}

#theme {
	margin-top: clamp(50px, 2vw, 500px);
}

#base {
	display: grid;
	justify-items: center;
}