@import url("./elements/animated-bg.css");
@import url("./elements/back.css");

#plan {
	width: 60vw;
	margin-bottom: 2vw;
}

#back {
	bottom: 4vw;
}

#theme {
	bottom: clamp(75px, 10vw, 150px);
}

#base {
	display: grid;
	justify-items: center;
}